.mt-1{
    margin-top: 55px;
}
.bg-blck{
  background-color:#0d1117;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin input[type="text"],
  .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
  .hero-background-1 {
    background-image: url('https://framerusercontent.com/images/HNZCHe0N8Rdemsq4eZDUlaQksA.png?scale-down-to=1024');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    padding: 50px; 
    border-radius: 8px;
  }
  .hero-background-3 {
    background-image: url('https://framerusercontent.com/images/K9R9523eMvzPZNhKicUpy50rkg8.png?scale-down-to=1024');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    padding: 50px; 
    border-radius: 8px;
  }
  .hero-background-2 {
    background-image: url('https://framerusercontent.com/images/96htpjq4XDAbh8iNqcuEjX4226g.png?scale-down-to=1024');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    padding: 50px; 
    border-radius: 8px;
  }
  .hero-background-4 {
    background-image: url('https://framerusercontent.com/images/FbbSANQv5Y0WkCwiKbNcBq5p38k.png?scale-down-to=1024');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white; 
    padding: 50px; 
    border-radius: 8px;
  }
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it is above all other elements */
  }

  /* Spinner */
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Light gray */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  /* Spinner animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: none; /* Hidden by default */
    z-index: 1000;
  }

  /* Modal Container */
  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    z-index: 1001;
  }

  /* Modal Header */
  .modal-header {
    font-size: 18px;
    margin-bottom: 10px;
  }

  /* Modal Footer */
  .modal-footer {
    margin-top: 20px;
    text-align: right;
  }

  /* Close Button */
  .close-btn-modal {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
  }

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}